__*
__pycache*.*
__pycache__/solver.cpython-39.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/solver_model.cpython-39.pyc
__pycache__/wordle_common.cpython-39.pyc
__pycache__/solver.cpython-37.pyc
__pycache__/solver.cpython-37.pyc
__pycache__/solver.cpython-37.pyc
__pycache__/solver_model.cpython-37.pyc
__pycache__/wordle_common.cpython-37.pyc
